	
<div class="module-content box">
  <div>
      <h3 class="page-heading">Global Cancer Observatory</h3>
      <ul class="gco">
        <li><a href="https://gco.iarc.fr/today" target="_blank"><img src="/img/home/today.png"></a></li>
        <li><a href="https://gco.iarc.fr/tomorrow" target="_blank"><img src="/img/home/tomorrow.png"></a></li>
        <li><a href="https://gco.iarc.fr/overtime" target="_blank"><img src="/img/home/over_time.png"></a></li>
        <li><a href="https://gco.iarc.fr/survival/survmark" target="_blank"><img src="/img/home/survival.png"></a></li>
      	<li><a href="https://gco.iarc.fr/causes/" target="_blank"><img src="/img/home/causes.png"></a></li>
        <li><a href="https://gco.iarc.fr/projects" target="_blank"><img src="/img/home/at_csu.png"></a></li>

      </ul>
  </div>
</div>
