	
<div class="module-content box">
  <div>
      <h3 class="page-heading">Latest CSU publications</h3>
      <ul class="gco">
        <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/35695282" target="_blank">
        	<strong>13 Jun 2022</strong><br>
			Global patterns of non-Hodgkin lymphoma in 2020.</a></li>
        <li>
        	<a href="https://www.ncbi.nlm.nih.gov/pubmed/35696767" target="_blank">
    		<strong>11 Jun 2022</strong><br>
			Breast cancer among young women in Brazil: Differences between hospital and population-based series.
			</a>
		</li>
        <li>
        	<a href="https://www.ncbi.nlm.nih.gov/pubmed/35678331" target="_blank">
    		<strong>9 Jun 2022</strong><br>
			Global and national trends in the age-specific sex ratio of esophageal cancer and gastric cancer by subtype.
        	</a>
       	</li>
      </ul>
  </div>
</div>
